.parentNode .toggle {
  background: white;
  border-radius: 5px;
  cursor: pointer;
  font: unset;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-width: thin;
}

.contentParent {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.3s;
}

.children {
  border-radius: 5px;
  padding: 0.2rem;
  padding-left: 20px;
}

.background {
  background-color: white;
  border-radius: 5px;
  padding: 7px;
}

.icon {
  margin-left: auto;
  transition: transform 0.6s ease;
  margin-top: 4px;
}

.rotate {
  transform: rotate(90deg);
  margin-left: auto;
  transition: transform 0.6s ease;
  margin-top: 5px;
}
