body,
li {
  font-family: Georgia, "Times New Roman", Times, sens-serif;
  background-color: #80808054;
  margin-top: 10px;
}

li {
  padding: 0.2rem;
  padding-left: 11px;
  border-radius: 5px;
  list-style-type: none;
}

li:nth-child(1) {
  margin-top: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}
